{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">Applications Received</h2>

<table class="table table-bordered">
<tr><th>Name</th><th>Department</th><th>Status</th><th>Action</th></tr>

{% for a in apps %}
<tr>
    <td>{{ a[1] }}</td>
    <td>{{ a[2] }}</td>
    <td>{{ a[3] }}</td>
    <td>
        {% if a[3] != "Shortlisted" %}
        <a href="/company/shortlist/{{ a[0] }}" class="btn btn-success btn-sm">Shortlist</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}