{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">Company Dashboard</h2>

<a href="/company/create_drive" class="btn btn-primary mb-3">Create New Drive</a>

<table class="table table-bordered">
<tr><th>Job Title</th><th>Status</th><th>Deadline</th><th>Applications</th></tr>

{% for d in drives %}
<tr>
    <td>{{ d[2] }}</td>
    <td>{{ d[6] }}</td>
    <td>{{ d[5] }}</td>
    <td><a href="/company/applications/{{ d[0] }}" class="btn btn-dark btn-sm">View</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}