{% extends "base.html" %}

{% block title %}Registration Page{% endblock %}

{% block content %}
<style>
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("https://tse1.mm.bing.net/th/id/OIP.yGmKKb37FJoNpRKbQD3ANgHaEO?pid=Api&P=0&h=180");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    height: 100vh;
}

.signup-container{
    background-color: #ffffff;
    width: 340px;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,128,0,0.1);
    border-left: 5px solid #0a8d80;
}

h2{
    text-align: center;
    color: #0a8d80;
    margin-bottom: 20px;
}

label{
    display: block;
    font-size: 14px;
    color: #0a8d80;
    margin-top: 12px;
}

input{
    width: 100%;            
    padding: 10px;          
    margin-top: 6px;        
    border: 1px solid #d1f4f0; 
    border-radius: 6px;  
    font-size: 14px;   
}

input:focus{
    border-color: #88e3d9;
    outline: none;
    box-shadow: 0 0 3px rgba(67,160,71,0.3);
}

button {
    background-color: #0a8d80;
    color: white;           
    border: none;           
    padding: 10px;          
    width: 100%;            
    border-radius: 6px;     
    margin-top: 20px;       
    font-size: 15px;      
    cursor: pointer;        
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0a8d80;
}

a{
    display: block;
    text-align: center;
    margin-top: 12px;
    color: #0a8d80;
    text-decoration: none;
    font-size: 14px;
}

a:hover{
    text-decoration: underline;
}

p{
    text-align: center;
    columns: white;
    font-size: 14px;
}
</style>
<div class="container">
    <div class="signup-container">
        <h2>Register Here</h2>
        <form action="/registration" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter your username" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
            <label for="role">Role</label>
            <select name="role" id="role">
                <option value="student">Student</option>
                <option value="company">Company</option>
            </select>
            <button tybe="submit">Sign Up!</button>
            <a href="{{ url_for('login') }}">Already have an account? Login</a>

        </form>
    </div>
</div>
{% endblock %}