{% extends 'base.html' %}
{% block content %}

<h2 class="text-center mb-4">Student Registration</h2>

<form method="POST" class="card p-4 shadow">
    <label>Name:</label>
    <input name="name" class="form-control mb-3" required>

    <label>Email:</label>
    <input name="email" type="email" class="form-control mb-3" required>

    <label>Password:</label>
    <input name="password" type="password" class="form-control mb-3" required>

    <label>Department:</label>
    <input name="department" class="form-control mb-3" required>

    <button class="btn btn-success w-100">Register</button>
</form>

{% endblock %}